// Colors
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);
$dark: #252525;
$black: #000000;
$veryDarkRed: #3D0000;
$darkRed: #950101;
$red: #FF0000;
$white: hsl(0, 0%, 100%);